body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Evita que a página tenha rolagem */
}

#video-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    width: 530px; /* Largura típica de uma tela de celular */
}



iframe {
    border-radius: 20px;
    width: 100%;
    height: 932px; /* Altura típica de uma tela de celular */
    border: none;
}

#left-image {
    position: fixed; /* Mantém a imagem fixa na lateral esquerda */
    top: 50%;
    left: 8%;
    transform: translateY(-50%); /* Centraliza a imagem verticalmente */
    width: 20%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    z-index: 1; /* Garante que a imagem fique atrás do vídeo */
}   

#right-image {
    position: fixed; /* Mantém a imagem fixa na lateral esquerda */
    top: 50%;
    right: 8%;
    transform: translateY(-50%); /* Centraliza a imagem verticalmente */
    width: 20%; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    z-index: 1; /* Garante que a imagem fique atrás do vídeo */
} 

#left-image, #right-image {
    opacity: 1;
}